<!DOCTYPE.html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hobbies</title>
  <style> a {
    text-decoration: none;
    color: white;
    padding-left: 2px;
    padding-right: 25px;
    display: inline-block;

  }
  </style>

  <style> html {
    background: lightblue;
  }
  </style>
</head>
<body>
<h1>Hobbies</h1>
<h1> <%= @category %> </h1>
<a href='/'>Go home</a>
<a href='/resume'>Resume</a>
<a href='http://facebook.com/tysonvanburen'>View my Facebook</a>
<a href='http://twitter.com/Tyson60424363'>View my Twitter</a>
  <h2>Outdoors</h2>
    <ul>
      <li>I love hiking, being ontop of a mountain looking over the valley brings me so much peace.</li>
      <li>Camping with my friends, sitting around the fire telling storyies, playing the guitar and of course making some bomb smores!</li>
      <li>Fishing with my dad is on of my favoite thing to do. Catching some fish and catching up with the old man.</li>
      <li>Mountain biking! Enjoing the workout of peddling your way up the mountain and then halling ass down jamming out to some 311..Oh yeah baby!</li>
      <li>Basically I just love being outside! Sitting on a ledge and watching the sun go down with my girl... can't get much better than that.</li>
    </ul>
  <h2>Sports!</h2>
    <ul>
      <li>Baseball is my favorite sport of all time! From the night lights, sunflower seads, the chatter on the bench and there is nothing like the crack of a wood'n baseball bat.</li>
      <li>I played hockey when I was 12. Set the leauge record for most penalty box time and loved every minute of it!</li>
      <li>I played left bench for Provo High Bulldogs! I was 2nd string outside linebacker. I was a little guy with a big mouth.</li>
      <li>Rugy is a hard core no cry babies allowed </li>
      <li>Futball aka soccer</li>
      <p>Pretty much any competitive sport!</p>
    </ul>
  <h2>I love to laugh</h2>
  <iframe width="420" height="315" src="//www.youtube.com/embed/TP8RB7UZHKI?rel=0" frameborder="0" allowfullscreen></iframe>



</body>
<html>
