<!DOCTYPE.html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Me</title>
  <style> a {
    text-decoration: none;
    color: white;
    padding-left: 2px;
    padding-right: 25px;
    display: inline-block;

  }
  </style>

  <style> html {
    background: lightblue;
  }
  </style>
</head>
<body>
  <h1> Hello World! </h1>
  <a href="/resume">Resume</a>
  <a href="/hobbies">Hobbies</a>
  <a href='http://facebook.com/tysonvanburen'>View my Facebook</a>
  <a href='http://twitter.com/Tyson60424363'>View my Twitter</a>
  <h2> My name is Tyson Van Buren :)</h2>
  <p>
    This is a webpage about yours truly. Feel free to click around and get to know me a little better.<br>
    Or type in what you would like to know!
  </p>


  <form>
    What you wanna know? <input type="category" method="get">
  </form>
</body>
<footer>
  <h2><%= Time.now %></h2>
  <p>This is the exact time you decided to kill some time to get to know me.</p>
</footer>
</html>
