<!DOCTYPE.html>
<html>
<head>
  <meta charset"utf-8">
  <title>Resume</title>
  <style> a {
    text-decoration: none;
    color: white;
    padding-left: 2px;
    padding-right: 25px;
    display: inline-block;

  }
  </style>

  <style> html {
    background: lightblue;
  }
  </style>
</head>
<body>
<h1>Resume</h1>
<a href='/'>Back Home</a>
<a href='/hobbies'>Hobbies</a>
<a href='http://facebook.com/tysonvanburen'>View my Facebook</a>
<a href='http://twitter.com/Tyson60424363'>View my Twitter</a>
<h2>Education:</h2>
<h3>DevPoint Labs. Salt Lake City, Utah May 19 to Aug 1 2014</h3>
  <ul>
    <li>Ruby on Rails</li>
    <li>HTML and CSS</li>
    <li>How to creat a functional application and webpage</li>
  </ul>
<h2>Job History:</h2>
<h3>Vivint Security. Orem, Utah May 1 to Sep 1 2010 - 2013</h3>
  <ul>
    <li>2010 I was a Technitian</li>
    <li>Duties, instalation of the system, making sure costomer was confurtable and happy with their new system.</li>
    <li>2011-2013 I switched to door to door salesman</li>
    <li>Duties, introduce product to customer, make them fall in love with it and sale!</li>
  </ul>

</body>
</html>
